# Logs
ui/logs
ui/*.log
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*

ui/node_modules
ui/dist
ui/dist-ssr

.envrc
portfolio-scan
.equity_portfolio
.debt_portfolio
.portfolio
